.dashboard-container {
  margin: 10px;
}

th:first-child,
td:first-child {
  width: 20%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 30%;
}

th:nth-child(5),
td:nth-child(5) {
  width: 10%;
}

.user-table {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-collapse: collapse;
}

.user-table th {
  margin-top: 10px;
  padding: 8px;
  padding-left: 15px;
  text-align: left;
  color: rgb(1, 1, 1);
  background-color:#f0d9c7;
}
.user-table td {
  color: #2b131d;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 8px;
  padding-left: 15px;
  text-align: left;
 
}

.appointment-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.appointment-buttons button {
  margin-left: 5px;
}
button {
  color: #492735;
  border: none;
  margin: 1px;
  border-radius: 4px;
  padding: 5px;
  background-color: #fff2e5;
}

button:hover {
  color:#331b25;
  border: none;
  margin: 1px;
  border-radius: 4px;
  padding: 5px;
}


@media screen and (max-width:450px) {
  .dashboard-container {
    margin: 10px;
  }
}