
.datetimeselector {
    width: 300px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid rgb(227, 227, 227);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
  }
  
  .datetimeselector p {
    margin-bottom: 15px;
  }
  
  .datetimepicker {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .save-button {
    position: fixed;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 125, 160);

    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }
  