.home-button{
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    background-color:#c9a48b;;
    text-decoration: none;
    font-weight: bold;
}
.home-button a{
    text-decoration: none;
    padding-right:60px;
    color: #211017;
}

.rbc-calendar .rbc-event,
.rbc-calendar .rbc-day-slot .rbc-background-event {
  background-color: #ffffff !important;
  color: #fff !important;

}
